body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.header {
  background: #2b2b2b;
  margin-bottom: 42px;
}

.container {
  margin: 0 auto;
  width: 1040px;
}

.header__container {
  height: 77px;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 0;
}

.contacts {
  position: absolute;
  right: 0;
  top: 10px;
}

.route__desc-text {
  color: red;
}

.contacts {
  color: #fff;
  text-align: right;
}

.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.contacts__hours {
  font-size: 14px;
  font-weight: bold;
  opacity: .7;
}

.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__separator {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__link {
  color: rgba(178, 73, 48, 0.8);
  font-size: 14px;
  font-style: italic;
}

.breadcrumbs__item--active:after {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: rgba(34, 31, 31, 0.8);
  text-decoration: none;
}

.main-content,
.sidebar {
  display: inline-block;
  vertical-align: top;
}

.main-content {
  width: 800px;
}

.sidebar {
  width: 200px;
}

.route__desc-img {
  display: block;
  max-width: 100%;
}

.base__title,
.rating {
  display: inline-block;
  vertical-align: middle;
}


.rating__star {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.rating__star:last-child {
  margin-right: 0;
}


.rating__star-link {
  width: 19px;
  height: 18px;
  display: block;
  background: url('./img/icons/star.png') no-repeat center center / contain;
}

.base__description p {
  margin-bottom: 25px;
}

.base__description b {
  color: red;
}

.base__description ul li {
  list-style: disc;
}

.nav__link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  margin-right: 17px;
  background: center center / contain no-repeat;
}

.nav__link {
  font-size: 12px;
  font-weight: bold;
  color: #b24930;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.nav__link:hover {
  color: black;
}

.nav__item--active .nav__link {
  color: black;
}

.nav__link--icon--direction:before {
  background-image: url('./img/icons/menu/direction.png');
}

.nav__link--icon--plain:before {
  background-image: url('./img/icons/menu/plain.png');
}

.nav__link--icon--feed:before {
  background-image: url('./img/icons/menu/feed.png');
}

.nav__link--icon--direction:hover:before {
  background-image: url('./img/icons/menu/direction-hover.png');
}

.nav__link--icon--plain:hover:before {
  background-image: url('./img/icons/menu/plain-hover.png');
}

.nav__link--icon--feed:hover:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.nav__item--active .nav__link--icon--direction:before {
  background-image: url('./img/icons/menu/direction-hover.png');
}

.nav__item--active .nav__link--icon--plain:before {
  background-image: url('./img/icons/menu/plain-hover.png');
}

.nav__item--active .nav__link--icon--feed:before {
  background-image: url('./img/icons/menu/feed-hover.png');
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar__pic {
  display: block;
  /* max-width: 100%;
  max-height: 100%; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}