
.footer {
  background: #4b73b5;
  height: 77px;
}

.footer__container {
  width: 1100px;
  margin: 0 auto;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 15px;
}

.footer__text {
  padding-left: 19px;
  width: 22%;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.logo__footer {
  padding-left: 60px;
  width: 39%;
  display: inline-block;
  text-align: center;
}
.socials {
  text-align: right;
  width: 30%;
  display: inline-block;
}
.socials__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 8px;
}
.socials__network-item {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}